<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/routine">Routines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>{{info.displayName}}</h1>
          </div>
        </div>
        </class>
        <div class="row">
          <div class="col-md-6">
            <img src="{{info.img}}">
          </div>
          <div class="col-md-6">
            location: {{info.location}}<br>
            training: {{info.training}}<br>
            goal: {{info.goal}}<br>
            bio: {{info.bio}}<br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfile">
              Edit Profile
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal -->
{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfile">
  Edit Profile
</button> --}}

<!-- Modal -->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/profile/edit/" method="POST" id="editUserProfile" enctype="multipart/form-data">
          <label for="displayName">Display Name</label><br>
          <input type="text" class="form-control" name="displayName" value="{{info.displayName}}"><br>
          <label for="username">Username</label><br>
          <input type="text" class="form-control" name="username" value="{{info.username}}"><br>
          <label for="location">Location</label><br>
          <input type="text" class="form-control" name="location" value="{{info.location}}"><br>
          <label for="training">What kind of fitness activities do you like?</label><br>
          <input type="text" class="form-control" name="training" value="{{info.training}}"><br>
          <label for="goal">What are you fitness goals?</label><br>
          <input type="text" class="form-control" name="goal" value="{{info.goal}}"><br>
          <label for="bio">About you</label><br>
          <input type="text" class="form-control" name="bio" value="{{info.bio}}"><br>
          <label for="photo">Profile Photo</label><br>
          <input type="file" name="photo">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" value="SAVE" form="editUserProfile">Save changes</button>
      </div>
    </div>
  </div>
</div>