<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2 mb-5">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/routine">Routines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weightCalculator">Weight Loss Calculator</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <a href="/routine">BACK</a>
      <div class="container">
        <div class="row profile">
          <div class="col-md-3">
            <div class="profile-sidebar">
              <!-- SIDEBAR USERPIC -->
              <div class="profile-userpic text-center">
                {{#if info.img}}
                <img src="{{info.img}}" class="img-responsive" alt="">
                {{else}}
                <img
                  src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                  class="img-responsive" alt="">
                {{/if}}
                <div class="row">
                  <div class="col-sm-12">
                    <a href="" class="text-center" data-toggle="modal" data-target="#changePhoto">
                      Change Picture
                    </a>
                  </div>
                </div>
              </div>
              <!-- END SIDEBAR USERPIC -->
              <!-- SIDEBAR USER TITLE -->
              <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                  {{user.displayName}}
                </div>
                <div class="profile-usermenu text-left">
                  <i class="fas fa-map-marker-alt"></i> <strong>Location:</strong><br><br> {{info.location}}
                </div>
                <div class="profile-usermenu text-left">
                  <i class="fas fa-bullseye"></i> <strong>Fitness Goal:</strong><br><br> {{info.goal}}
                </div>
                <div class="profile-usermenu text-left">
                  <i class="fas fa-running"></i> <strong>Training Style:</strong><br><br> {{info.training}}
                </div>
                <div class="profile-usermenu text-left">
                  <i class="fas fa-user"></i> <strong>About Me:</strong><br><br>{{info.bio}}
                </div>
                <div class="profile-usermenu text-left">
                  <a href="" data-toggle="modal" data-target="#editProfile">
                    Edit Profile
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="profile-content">
              <h3 class="text-center">My Activity</h3>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      Routine Name
                    </th>
                    <th>
                      Description
                    </th>
                    <th>
                      Date Created
                    </th>
                  </tr>
                </thead>
                {{#each routines}}
                <tbody>
                  <tr>
                    <td>
                      <a href="/routine/{{this._id}}/">{{this.name}}</a>
                    </td>
                    <td>
                      {{this.description}}
                    </td>
                    <td>
                      {{moment date format="MMMM Do YYYY, h:mm:ss a"}}
                    </td>
                  </tr>
                </tbody>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>



<!---------------------------------- EDIT PROFILE INFO MODAL ------------------------------>
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/profile/edit/" method="POST" id="editUserProfile">
          <label for="displayName">Display Name</label><br>
          <input type="text" class="form-control" name="displayName" value="{{info.displayName}}" required><br>
          <label for="username">Username</label><br>
          <input type="text" class="form-control" name="username" value="{{info.username}}" required><br>
          <label for="location">Location</label><br>
          <input type="text" class="form-control" name="location" value="{{info.location}}"><br>
          <label for="training">What kind of fitness activities do you like?</label><br>
          <input type="text" class="form-control" name="training" value="{{info.training}}"><br>
          <label for="goal">What are you fitness goals?</label><br>
          <input type="text" class="form-control" name="goal" value="{{info.goal}}"><br>
          <label for="bio">About you</label><br>
          <input type="text" class="form-control" name="bio" value="{{info.bio}}"><br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="editUserProfile">Save </button>
      </div>
    </div>
  </div>
</div>




<!------------------------- EDIT PHOTO MODAL--------------------------->

<div class="modal fade" id="changePhoto" tabindex="-1" role="dialog" aria-labelledby="changePhotoLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePhotoLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/profile/editPhoto/" method="POST" id="editPhoto" enctype="multipart/form-data">
          <label for="photo">Profile Photo</label><br>
          <input type="file" name="photo">
          {{!-- <button type="submit" value="SAVE" class="btn btn-primary" form="editPhoto">Save changes</button> --}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="SAVE" class="btn btn-primary" form="editPhoto">Save</button>
      </div>
    </div>
  </div>
</div>