<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2 mb-5">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/routine">Routines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weightCalculator">Weight Loss Calculator</a>
        </li>
      </ul>
    </div>

    <div class="col-md-10">
      <a href="javascript:history.back()">Back</a>
      <div class="container">
        <div class="row profile">
          <div class="col-md-3">
            <div class="profile-sidebar">
              <!-- SIDEBAR USERPIC -->
              <div class="profile-userpic text-center">
                {{#if user.img}}
                <img src="{{user.img}}" class="img-responsive" alt="">
                {{else}}
                <img
                  src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                  class="img-responsive" alt="">
                {{/if}}
              </div>
              <!-- END SIDEBAR USERPIC -->
              <!-- SIDEBAR USER TITLE -->
              <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                  {{user.displayName}}
                </div>
                <div class="profile-usermenu text-left">
                  <i class="fas fa-map-marker-alt"></i> <strong>Location:</strong><br><br> {{user.location}}
                </div>
                <div class="profile-usermenu text-left">
                  <i class="fas fa-bullseye"></i> <strong>Fitness Goal:</strong><br><br>{{user.goal}}
                </div>
                <div class="profile-usermenu text-left">
                  <i class="fas fa-running"></i> <strong>Training Style:</strong><br><br>{{user.training}}
                </div>
                <div class="profile-usermenu text-left">
                  <i class="fas fa-user"></i> <strong>About Me:</strong><br><br>{{user.bio}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="profile-content">
              <h3 class="text-center text-primary">{{routine.name}}</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Exercise
                    </th>
                    <th>
                      Sets
                    </th>
                    <th>
                      Reps
                    </th>
                    <th>
                      Weight
                    </th>
                  </tr>
                </thead>
                {{#each exercise}}
                <tbody>
                  <tr>
                    <td>
                      {{this.name}}
                    </td>
                    <td>
                      {{this.sets}}
                    </td>
                    <td>
                      {{this.reps}}
                    </td>
                    <td>
                      {{this.weight}}
                    </td>
                  </tr>
                </tbody>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>



    </div>
  </div>