<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/routine">Routines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <h1 class="text-center">{{user.displayName}}'s Profile</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              Routine Name
            </th>
            <th>
              Description
            </th>
            <th>
              Date Created
            </th>
            <th class="text-center">
              Delete
            </th>
          </tr>
        </thead>
        {{#each routines}}
        <tbody>
          <tr>
            <td>
              <a href="/routine/{{this._id}}/">{{this.name}}</a>
            </td>
            <td>
              {{this.description}}
            </td>
            <td>
              {{moment date format="MMMM Do YYYY, h:mm:ss a"}}
            </td>
            <td class="text-center">
              <a href="/routine/delete?id={{this._id}}" class="fas fa-trash-alt btn btn-primary"></a>
            </td>
          </tr>
        </tbody>
        {{/each}}
      </table>
      <div>
      </div>
    </div>
  </div>
</div>






{{!-- {{#each routines}}
name: {{this.name}}
description: {{this.description}}
{{/each}} --}}