<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2 mb-5">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/routine">Routines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weightCalculator">Weight Loss Calculator</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <a href="../">BACK</a><br>

      <h1 class="text-center text-primary">{{routine.name}}</h1>
      <div class="row">
        <div class="col-md-12 text-center mb-3">
          <a href="" data-toggle="modal" data-target="#editRoutine">
            Edit Routine Name
          </a>
        </div>
      </div>

      {{!-- <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#editRoutine">
        Edit Name
      </button> --}}

      <table class="table">
        <thead>
          <tr>
            <th>
              Exercise
            </th>
            <th>
              Sets
            </th>
            <th>
              Reps
            </th>
            <th>
              Weight
            </th>
            <th>
              Edit / Delete
            </th>
          </tr>
        </thead>
        {{#each exercise}}
        <tbody>
          <tr>
            <td>
              {{this.name}}
            </td>
            <td>
              {{this.sets}}
            </td>
            <td>
              {{this.reps}}
            </td>
            <td>
              {{this.weight}}
            </td>
            <td>
              <button type="button" id="edit-btn" exerciseid="{{this._id}}" class="btn btn-primary" data-toggle="modal"
                data-target="#editExercise" data='{ "name" : "{{this.name}}" , "reps" : "{{this.reps}}" , "sets"
                : "{{this.sets}}" , "weight" : "{{this.weight}}" }'><i class="fas fa-edit" id="edit-btn"
                  exerciseid="{{this._id}}" data-toggle="modal" data-target="#editExercise" data='{ "name" : "{{this.name}}" , "reps" : "{{this.reps}}" , "sets"
                : "{{this.sets}}" , "weight" : "{{this.weight}}" }'></i>
              </button>
              <button id="delete-btn" class="btn btn-primary" exerciseid="{{this._id}}"><i class="fas fa-trash-alt"
                  id="delete-btn" exerciseid="{{this._id}}" data-toggle="modal" data-target="#editExercise" data='{ "name" : "{{this.name}}" , "reps" : "{{this.reps}}" , "sets"
                : "{{this.sets}}" , "weight" : "{{this.weight}}" }'></i>
              </button>
            </td>
          </tr>
        </tbody>
        {{/each}}
      </table>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#addExercise1">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>


<!-- ADD EXERCISE MODAL-->

<div class="modal fade" id="addExercise1" tabindex="-1" role="dialog" aria-labelledby="addExercise1Label"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addExercise1Label">Add Exercise</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="./" method="POST" id="exercise1" autocomplete="off">

          <div class="form-group row">

            <label for="name" class="col-sm-2 col-form-label">Exercise:</label>
            <div class="col-sm-10">
              <input autocomplete="off" type="text" class="form-control" name="name" placeholder="ex. Bench Press"><br>
            </div>
          </div>

          <div class="form-group row">
            <label for="reps" class="col-sm-2 col-form-label">Reps: </label>
            <div class="col-sm-10">
              <input autocomplete="off" type="number" class="form-control" name="reps" placeholder="ex. 10"><br>
            </div>
          </div>

          <div class="form-group row">
            <label for="sets" class="col-sm-2 col-form-label">Sets: </label>
            <div class="col-sm-10">
              <input autocomplete="off" type="number" class="form-control" name="sets" placeholder="ex. 5"><br>
            </div>
          </div>


          <div class="form-group row">
            <label for="weight" class="col-sm-2 col-form-label">Weight: </label>
            <div class="col-sm-10">
              <input autocomplete="off" type="number" class="form-control" name="weight" placeholder="ex. 205"><br>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="exercise1">Save Exercise</button>
      </div>

    </div>
  </div>
</div>
</div>

<!-- EDIT EXERCISE MODAL-->


<div class="modal fade" id="editRoutine" tabindex="-1" role="dialog" aria-labelledby="editRoutineLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editRoutineLabel">Edit Routine Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>




      <div class="modal-body">
        <form action="/routine/edit?id={{routine._id}}" method="POST" id="editRoutineName">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Routine Name: </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" value="{{routine.name}}"><br>
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description: </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="description" value="{{routine.description}}"><br>
            </div>
          </div>
          {{!-- <button type="submit">SUBMIT</button> --}}
        </form>








      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="editRoutineName">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div id="editModal"></div>


<script src="/javascripts/exerciseButtons.js">